.card {
    width: 350px;
    min-height: 230px;
    border: 5px solid grey;
}
.picture-section {
    height: 150px;
    position:relative;
}
.picture {
    width: 350px;
    height: 150px;
}
.update {
    background-color: blue;
    color: white;
    position: absolute;
    padding: 4px 8px;
}